@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Open+Sans&display=swap');

.el-tabs__nav-scroll {
  padding: 0.5rem !important;
}
.el-tabs__item {
  color: red !important;
  font-size: 1.2rem !important;
}
label {
  font-size: 1.2rem !important;
  width: auto !important;
}
.el-table__row {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.text-header {
  font-family: 'Neonderthaw', cursive;
  text-align: center;
  font-size: 2rem;
}

.loading-text {
  font-family: 'Neonderthaw', cursive;
  text-align: center;
  font-size: 2rem;
  color: indianred;
}

.help-text {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: olivedrab;
}
